project/boot
target
TAGS
\#*#
*~
.#*
.lib
.history
.*.swp
.idea
.idea/*
.idea_modules
.DS_Store
.sbtrc
*.sublime-project
*.sublime-workspace
tests.iml
.ignore
result*
project/metals.sbt
.bloop/
.metals/
project/.bloop/
